circle {
    
    fill: 
    white;
    
    /*
    pointer-events: none;
    */
}

text {
    pointer-events: none;
    font-size: 10px;
}

.bar{
    stroke: none;
    fill: steelblue;
}

#slide_1{
	width: 600px;
    margin: auto;
 }